@model Estudiantes.Models.StudentSubject

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Inscripción</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" asp-controller="StudentSubject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="SubjectId" />

            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId" disabled></select>
            </div>

            <div class="form-group">
                <label asp-for="DateInscription" class="control-label"></label>
                <input asp-for="DateInscription" class="form-control" />
                <span asp-validation-for="DateInscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
